/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Imagen de fondo para todo el body */
body::before{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    display: block;
    background-image: url("../public/images/article_topimage_Costa_Rica__beskåret.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

li{
    margin: 10px;
}

/* Estilos para el header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos para el menú */
nav {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    color: #333;
    text-decoration: none;
}

nav a:hover {
    color: #666;
}

/* Estilos para el contenido de la página */
section {
    padding: 10px;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Control generico de flex */
.flex{
    display: flex;
}

.flex-jc{
    justify-content: center;
}

.flex-jsb{
    justify-content: space-between;
}

.flex-aic{
    align-items: center;
}

.flex-v{
    flex-flow: column;
}


/* Estilo para el logo */
.logo{
    position:absolute;
    left: 0;
    top: -29px;
    width: 150px;
}

/* Tamaño del video trailer */
.trailer{
    width: 95vw;
    height: calc(95vw / 16 * 9);
}

/* Estilos de fondos*/
.bg-grey{
    background-color: #333333B0;
}

.bg-green{
    background-color: #556b2fB0;
}

.bg-glass{
    backdrop-filter: blur(5px);
}

/* Estilo para las imagenes de caracteristicas */
.img-caracteristicas{
    width: 320px;
    height: 180px;
}

.btn-precompra{
    font-size: 1.2rem;
    font-weight: bold;
    background-color: tomato;
    width: 140px;
    border:0;
    border-radius: 20px;
    cursor: pointer;
}

.btn-precompra:hover{
    transition: ease-out 0.15s;
    transform:scale(1.15);
}

/*Estilos para el modal*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; /* Lugar de la caja */
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; 
    overflow:auto; /* Habilita el scroll de ser necesario */
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(2px);
}

.modal-precompra{  /* parametros de prueba*/
    transition: all ease-in-out 0.3s;
    position:absolute;
    background-color: #fefefe;
    margin:10%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.recivo{
    height: 100%;
    margin: -20px -20px
}
.recivo p {
    padding: 2px 0;
    margin: 0;
}